<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../includes/head") %> <%- include("../includes/navbar") %>
        <title>About</title>
    </head>
    <body>
        <!-- Team Section -->
        <section class="text-gray-600 body-font">
            <div class="container px-20 py-24 mx-auto">

                <!-- About -->
                <section class="flex flex-col w-full mb-8">
                    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">
                        About Peta
                    </h1>
                    <p class="text-justify">
                        Peta is an online, searchable database of animals who need homes. It is also a directory of nearly 11,000 animal shelters and adoption organizations across the U.S., Canada and Mexico. Organizations maintain their own home pages and available-pet databases.
                    </p>
                </section>
                <!-- End About -->

                <!-- Mission -->
                <section class="flex flex-col w-full mb-8">
                    <h2 class="text-xl font-medium title-font mb-4 text-gray-900 tracking-widest">
                        Our Mission
                    </h2>
                    <p class="mb-4 text-justify">
                        To use Internet technology and the resources it can generate to:
                    </p>
                    <ol class="flex flex-wrap pl-4 list-decimal">
                        <li>
                            Increase public awareness of the availability of high-quality adoptable pets
                        </li>
                        <li>
                            Increase the overall effectiveness of pet adoption programs across North America to the extent that the euthanasia of adoptable pets is eliminated
                        </li>
                        <li>
                            Elevate the status of pets to that of family member
                        </li>
                        <li>
                            Reduce the number of adoptable pets in shelters and foster homes
                        </li>
                    </ol>

                    <p class="mb-4 text-justify">
                        From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs. They can then reference a shelter’s web page and discover what services it offers. Peta also includes discussion forums, a pet-care resource directory and a library of free pet-care articles to help keep pets in their homes.
                    </p>
                    <p class="mb-4 text-justify">
                        Peta is updated DAILY.
                    </p>
                    <p class="mb-4 text-justify">
                        Organizations wishing to participate should <a class="text-blue-600" href="/signup">register</a>. A contact person should be responsible for direct communications with Peta. Only nonprofit organizations will be included (but Federal 501(c)(3) status is not necessary).
                    </p>
                    <p class="mb-4 text-justify">
                        Peta is made up of animal-care professionals and regular people volunteering for their local animal welfare organizations all working together to maintain active and accurate homeless pet lists. Most animal welfare volunteers have “real jobs” by day. The success and the magnitude of this project is largely due to their tireless efforts to make a difference. If you would like to help, let us know! You can find us at
                        <a class="text-blue-600" href="/">https://www.peta.com</a>. Email: <a class="text-blue-600" href="mailto:pets@peta.com">pets@peta.com</a>.
                    </p>
                </section>
                <!-- End Mission -->

                <!-- Disclaimer -->
                <section class="flex flex-col w-full mb-8">
                    <h1
                        class="text-xl font-medium title-font mb-4 text-gray-900 tracking-widest"
                    >
                        Disclaimer
                    </h1>
                    <p class="mb-4 text-justify">
                        Peta is only a directory of homeless pets and pet adoption organizations. No information in Peta is guaranteed. Although the information on Peta is updated frequently, it is always best to call the facility or organization that lists the pet to insure it is still available and to insure the information listed in Peta is accurate. It is crucial that any pet found through an adoption service be thoroughly examined by a veterinarian immediately upon adoption. Any pets found, adopted through, or listed in Peta are the sole responsibility of the adoption organizations and/or the adopting party.
                    </p>
                    <p class="mb-4 text-justify">
                        Peta accepts no responsibility for any liability or for any injury or damages to any person or property caused by any listed animal, as well as any cause of action, claims, suits or demands whatsoever that may arise as a result of such injury or damage.
                    </p>
                </section>
                <!-- End Disclaimer -->
                
                <!-- Out Team -->
                <section>
                    <div class="flex flex-col w-full mb-20">
                        <h2
                            class="text-xl font-medium title-font mb-4 text-gray-900 tracking-widest"
                        >
                            Our Team
                        </h1>
                        <p class="lg:w-2/3 leading-relaxed text-base">
                            This project is currently maintained by a single developer.
                        </p>
                    </div>
                    <div class="flex flex-wrap -m-4">
                        <div class="p-4 lg:w-1/2">
                            <div
                                class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
                            >
                                <img
                                    alt="team"
                                    class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                                    src="https://dummyimage.com/200x200"
                                />
                                <div class="flex-grow sm:pl-8">
                                    <h2
                                        class="title-font font-medium text-lg text-gray-900"
                                    >
                                        Swajeet Chavan
                                    </h2>
                                    <h3 class="text-gray-500 mb-3">Full-Stack Developer</h3>
                                    <p class="mb-4 text-justify">
                                        Build and maintain the Peta website.
                                    </p>
                                    <span class="inline-flex">
                                        <a class="text-gray-500">
                                            <i class="fab fa-facebook-square text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-twitter text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-facebook-messenger text-2xl"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 lg:w-1/2">
                            <div
                                class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
                            >
                                <img
                                    alt="team"
                                    class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                                    src="https://dummyimage.com/201x201"
                                />
                                <div class="flex-grow sm:pl-8">
                                    <h2
                                        class="title-font font-medium text-lg text-gray-900"
                                    >
                                        Harshwardhan Bhale
                                    </h2>
                                    <h3 class="text-gray-500 mb-3">Frontend Developer</h3>
                                    <p class="mb-4 text-justify">
                                        Build and maintain peta website.
                                    </p>
                                    <span class="inline-flex">
                                        <a class="text-gray-500">
                                            <i class="fab fa-facebook-square text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-twitter text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-facebook-messenger text-2xl"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 lg:w-1/2">
                            <div
                                class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
                            >
                                <img
                                    alt="team"
                                    class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                                    src="https://dummyimage.com/204x204"
                                />
                                <div class="flex-grow sm:pl-8">
                                    <h2
                                        class="title-font font-medium text-lg text-gray-900"
                                    >
                                        Virat Kohli
                                    </h2>
                                    <h3 class="text-gray-500 mb-3">Database & UI Designer</h3>
                                    <p class="mb-4 text-justify">
                                        No Contribution yet.
                                    </p>
                                    <span class="inline-flex">
                                        <a class="text-gray-500">
                                            <i class="fab fa-facebook-square text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-twitter text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-facebook-messenger text-2xl"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 lg:w-1/2">
                            <div
                                class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
                            >
                                <img
                                    alt="team"
                                    class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                                    src="https://dummyimage.com/206x206"
                                />
                                <div class="flex-grow sm:pl-8">
                                    <h2
                                        class="title-font font-medium text-lg text-gray-900"
                                    >
                                        Chetan Kamble
                                    </h2>
                                    <h3 class="text-gray-500 mb-3">Documentation</h3>
                                    <p class="mb-4 text-justify">
                                        Handling the documentation part of entire project.
                                    </p>
                                    <span class="inline-flex">
                                        <a class="text-gray-500">
                                            <i class="fab fa-facebook-square text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-twitter text-2xl"></i>
                                        </a>
                                        <a class="ml-2 text-gray-500">
                                            <i class="fab fa-facebook-messenger text-2xl"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Our Team -->

            </div>
        </section>
        <!-- End Team Section -->
        <%- include("../includes/footer") %>
    </body>
</html>
