<nav
    :class="{'flex': open, 'hidden': !open}"
    class="flex-col items-center flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row md:border-white"
>
    <a
        class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold bg-transparent rounded-md hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
        href="/about"
    >
        <i class="fas fa-address-card text-xl mr-2"></i>
        About
    </a>
    <a
        class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold bg-transparent rounded-md hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
        href="/find"
    >
        <i class="fas fa-dog text-xl mr-2"></i>
        Find Pets
    </a>
    <a
        class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold bg-transparent rounded-md hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
        href="/info/animals"
    >
        <i class="fas fa-newspaper text-xl mr-2"></i>
        Animal Info
    </a>
    <a
        class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold bg-transparent rounded-md hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
        href="/scan"
    >
        <i class="fas fa-scanner text-xl mr-2"></i>
        Scan
    </a>
    <a
        class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold bg-transparent rounded-md hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
        href="/contact"
    >
        <i class="fas fa-at text-xl mr-2"></i>
        Contact
    </a>

    <!-- Logged In -->
    <% if(locals.isAuth) { %>
    <div
        @click.away="open = false"
        class="relative mr-2 my-1 w-full lg:w-auto"
        x-data="{ open: false }"
    >
        <button
            @click="open = !open"
            class="flex flex-row items-center w-full pl-4 pr-2 py-2 my-2 mx-1 text-sm font-semibold bg-transparent rounded-md text-center hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
        >
            <span>
                <i class="fas fa-user-circle text-xl mr-2"></i>
            </span>
            <i
                :class="{'rotate-180': open, 'rotate-0': !open}"
                class="fas fa-chevron-up inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
            </i>
        </button>
        <div
            x-show="open"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="absolute text-black right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48 z-20"
        >
            <div
                class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800"
            >
                <a
                    class="px-4 py-2 my-2 text-sm font-semibold bg-transparent rounded-md w-full lg:w-auto hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
                    href="/my-profile"
                    >Profile</a
                >
                <% if (locals.isAdmin) { %>
                <a
                    class="px-4 py-2 my-2 text-sm font-semibold bg-transparent rounded-md w-full lg:w-auto hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
                    href="/dashboard"
                    >Dashboard</a
                >
                <% } %>
                <a
                    class="px-4 py-2 my-2 text-sm font-semibold bg-transparent rounded-md hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline flex items-center"
                    href="/logout"
                    >Logout</a
                >
            </div>
        </div>
    </div>
    <% } %>

    <!-- Not Logged In -->
    <% if(!locals.isAuth) { %>
    <div class="flex flex-col md:flex-row w-full lg:w-auto gap-2">
        <a
            class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold text-indigo-600 bg-gray-200 rounded-md md:ml-4 hover:text-gray-900 focus:text-gray-900 focus:outline-none focus:shadow-outline flex items-center"
            href="/login"
            >Login</a
        >
        <a
            class="px-4 py-2 my-2 text-center w-full lg:w-auto text-sm font-semibold text-indigo-600 bg-gray-200 rounded-md md:ml-4 hover:text-gray-900 focus:text-gray-900 focus:outline-none focus:shadow-outline flex items-center"
            href="/signup"
            >SignUp</a
        >
    </div>
    <% } %>
</nav>
