<%- include("../includes/head") %> 
<%- include("../includes/navbar") %> 
<title>Dashboard</title>
</head>
<body class="bg-slate-200">
    <p>User Dashboard</p>
    <!-- Sidebar -->
    
    <!-- End Sidebar -->
    <!-- Main -->
    
    <!-- End Main -->
    <%- include("../includes/footer") %> 
    </body>
</html>